In [130]:
link='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

## Loading a page from wikipedia

In [131]:
import requests
import pandas as pd
wikipage = requests.get(link)
page = wikipage.text

In [132]:
content=page
beginmarker='<table class="wikitable sortable">'
endmarker='</tbody></table>'

def everything_between_including(text,begin,end):
    idx1=content.find(begin) #first char position of begin
    idx2=content.find(end,idx1) #last char position of end
    return content[idx1:idx2+len(end)].strip()


title=everything_between_including(content,beginmarker,endmarker)

df = pd.read_html(content)[0] # A list of dataframes (many tables possible), getting the first


#### The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [133]:
df.columns = df.iloc[0] # First row as columns
df=df.reindex(df.index.drop(0)) #deleting duplicates and reindexing

In [134]:
df.head(20)

0  Postcode           Borough     Neighbourhood
1       M1A      Not assigned      Not assigned
2       M2A      Not assigned      Not assigned
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Not assigned
10      M8A      Not assigned      Not assigned
11      M9A         Etobicoke  Islington Avenue
12      M1B       Scarborough             Rouge
13      M1B       Scarborough           Malvern
14      M2B      Not assigned      Not assigned
15      M3B        North York   Don Mills North
16      M4B         East York  Woodbine Gardens
17      M4B         East York     Parkview Hill
18      M5B  Downtown Toronto           Ryerson
19      M5B  Downtown Toronto   Garden District
20      M6B        North York         Glencairn

#### Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [135]:
df=df.drop(df[df['Borough']=='Not assigned'].index).reset_index(drop=True)
df.head()

0 Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

#### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [136]:


##replacing value conditionally
df.loc[df['Neighbourhood'] =='Not assigned', 'Neighbourhood'] = df['Borough']

In [137]:
df.head(10)

0 Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Queen's Park
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

#### Grouping by Postcode and  Borough Columns, concatenating Neighbourhoods

In [143]:

df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()

In [144]:
df.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Malvern, Rouge
1      M1C  Scarborough           Highland Creek, Port Union, Rouge Hill
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

In [145]:
df.shape

(103, 3)